#open_consult_home {
    // 极速咨询
    .fast_consult_card {
        width: 100%;
        border: none;
    }
    .top_card {
        padding: 15px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        .card_item {
            width: 49.5%;
        }
    }
    .hot_dept {
        background: #fff;
    }
    .hot_dept_title {
        font-size: 18px;
        font-weight: 700;
        color: #333;
        padding: 10px 15px 15px;
        margin: 0;
    }
    .dept_list::after {
        content: "";
        clear: both;
        display: block;
    }
    .dept_item {
        float: left;
        width: 25%;
        padding-bottom: 12px;
        & > img {
            width: 30px;
            height: 30px;
            display: block;
            border: none;
            margin: 0 auto;
        }
        & > p {
            padding-top: 12px;
            margin: 0;
            text-align: center;
            color: #999;
        }
    }
    .doctor_card_list {
        background: #fff;
        padding: 0 15px;
    }
    .doctor_card_title {
        font-size: 18px;
        font-weight: 700;
        color: #333;
        padding: 15px 0;
        margin: 0;
    }
    .order_menu {
        width: 24px;
        height: 72px;
        font-size: 13px;
        background-color: #18a2ff;
        text-align: center;
        color: #fff;
        padding: 10px 0;
        position: fixed;
        right: 0;
        top: 180px;
        border-radius: 4px 0 0 4px;
        background-image: url(//cdn.myweimai.com/images/c04a2e848e3d51ff19ce58a6cc69efc2_50x50.png);
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 6px 70px;
    }
}