<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="description" content="patient side dpr">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="//cdn.myweimai.com" />
    <link rel="dns-prefetch" href="//img.qstcdn.com" />
    <link rel="dns-prefetch" href="//ichoice.myweimai.com">
    <link rel="preconnect" href="//cdn.myweimai.com">
    <link rel="preconnect" href="//img.qstcdn.com">
    <link rel="preconnect" href="//ichoice.myweimai.com">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover">
    <title>专家咨询</title>
</head>

<body>
    <div id="App"></div>
    <script src="//static.qstcdn.com/npm/react@16.8.6/react.js"></script>
    <script src="//static.qstcdn.com/npm/react-dom@16.8.6/react-dom.js"></script>
</body>

</html>